<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Géolocalisation</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
{#<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>#}
{#<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />#}


<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

{#<link rel="stylesheet" href="https://map.michelstuyts.be/icons/">#}
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
</style>
<div id="map"></div>
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	//mapboxgl.accessToken = 'pk.eyJ1IjoicGFyaGV0bzEwIiwiYSI6ImNraTc4ZGxwbzR2MDkyc2t6amg5NnJsZmUifQ.cv4Fl-oi-_CDb213jxBFEg';
	mapboxgl.accessToken = 'pk.eyJ1IjoicGFyaGV0bzEwIiwiYSI6ImNrazVjbGs2ZzBwMm0yd3FuN2J0Z3F6emsifQ.vJY5MZ83bP4spWhv9gDUsw';
    //mapboxgl.accessToken = 'sk.eyJ1IjoicGFyaGV0bzEwIiwiYSI6ImNrazVxNjB3dzA5cDAycWw4aDh2cWM1dWgifQ.-qqrgU8TzOupAAtKNKLDaQ';
    var map = new mapboxgl.Map({
        container: 'map',
        language : 'fr',
        //style: 'mapbox://styles/mapbox-map-design/ckhqrf2tz0dt119ny6azh975y',
        //style: 'mapbox://styles/mapbox/satellite-v9',
        //style: 'mapbox://styles/mapbox/outdoors-v11',
        style: 'mapbox://styles/parheto10/ckjvnluw700pd17lmspxdeqk9',
        center: [-5.547545, 7.5455112],
        //center: [-6.922045, 4.651368],
        //center: [-6.6400, 4.7704],
        zoom: 6.5,
        {#pitch: 85,#}
        {#bearing: 80,#}
        cursor_style: 'pointer',
        marker_color: "red",
        placeholder: "Emplacement",
        attribution_prefix: 'SYGEL - @TMG',
    });

    //Ajouter Controleur Zoom In, Zoom Out, Bouton 3D

    map.addControl(
        new mapboxgl.NavigationControl({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            defaultLanguage: 'fr'
        }),
    );
    map.on('load', function () {
      map.addSource('parcelles', {
         type: 'geojson',
         data: {
             "type": "Feature",
             "features": [{% for point in parcelles %}
               {
                 "type": "Feature",
                 "properties": {
                   "pk": "{{ point.pk }}",
                   'marker-color': '#13d17f',
                   'marker-size': 'large',
                   'marker-symbol': 'park',
                   'title': '{{ point.producteur }}',
                   'icon': 'park'
                   {#'description': '{{point.projet.titre}}',#}
                   {#'image': 'https://farm9.staticflickr.com/8571/15844010757_63b093d527_n.jpg',#}
                 },
                 "geometry": {
                   "type": "Polygon",
                   "coordinates": [{{ point.coordonnees }}]
                 },
                   // Add Marker.
                marker : new mapboxgl.Marker()
                    .setLngLat([{{ point.coordonnees }}])
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }).setText(
                           '<strong>PRODUCTEUR : {{ point.producteur }}</strong><p><b>COOPERATIVE</b> : {{ point.producteur.cooperative }}</p><p><b>SECTION / SOUS SECTION</b> : {{ point.producteur.section}} / {{ point.sous_section}}</p><p><b>CULTURE</b> : {{ point.culture}}</p><p><b>CERTIFICATION</b> : {{ point.certification }}</p><p><b>SUPERFICIE</b> : {{ point.superficie|floatformat:2 }}(Ha)</p><p><b>LOCALITE</b> : {{ point.producteur.localite}}</p><p><b>COORDONNEES</b> : ({{ point.coordonnees}})</p>'
                        )
                    ) // sets a popup on this marker
                .addTo(map),
               {% if forloop.last %}} {% else %}}, {% endif %}{% endfor %}
             ]
         }
      });
      map.addLayer({
        "id": "parcelle",
        "type": "fill",
        "source": "parcelles", // Here is the part where you add the source to a layer.
        "paint": {
          'fill-color': '#088',
          'fill-opacity': 0.8
        },
        'layout': {
            'icon': 'theatre',
            'icon-image': '{icon}-15',
            'icon-allow-overlap': true
        },
      });
    });
</script>
<script>
    {#window.alert("points_coop : " {{ parcelle_count }});#}
    console.log("points_coop : " {{ parcelle_count }});
</script>

</body>
</html>