{% load static %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'cooperatives:dashboard' %}" {% if activate == "cooperative" %}class="active"{% else %} class="" {% endif %}><i class="fa fa-dashboard fa-fw"></i> DASHBOARD</a>
            </li>
            <li>
                <a href="{% url 'cooperatives:producteurs' %}" {% if activate == "producteurs" %}class="active"{% else %} class="" {% endif %}><i class="fa fa-users fa-fw"></i> GESTIONS PRODUCTEURS</a>
            </li>
            <li>
                <a href="{% url 'cooperatives:parcelles' %}" {% if activate == "parcelles" %}class="active"{% else %} class="" {% endif %}><i class="glyphicon glyphicon-map-marker"></i> GESTIONS PARCELLES</a>
            </li>
            <li>
                <a href="{% url 'cooperatives:productions' %}" {% if activate == "productions" %}class="active"{% else %} class="" {% endif %}><i class="glyphicon glyphicon-map-marker"></i>  GESTIONS PRODUCTIONS</a>
            </li>
            <li>
                <a href="{% url 'cooperatives:formations' %}" {% if activate == "formations" %}class="active"{% else %} class="" {% endif %}><i class="fa fa-bookmark fa-fw"></i> GESTIONS FORMATIONS</a>
            </li>
            <li>
                <a href="{% url 'cooperatives:CoopPlantings' %}" {% if activate == "plantings" %}class="active"{% else %} class="" {% endif %}><i class="glyphicon glyphicon-tree-deciduous"></i> PLANTINGS</a>
            </li>
            <!-- <li>
                <a href=""><i class="fa fa-balance-scale fa-fw"></i> CHARGEMENT PRODUITS</a>
            </li>
            <li>
                <a href=""><i class="fa fa-truck fa-fw"></i> LIVRAISON PRODUITS</a>
            </li>-->
            <li>
                <a href="{% url 'cooperatives:map_by_cooperative' %}" target="_blank"><i class="fa fa-map fa-fw"></i> CARTOGRAPHIE</a>
            </li>
            <li>
{#                <a href="{% url 'cooperatives:folium_map' %}"><i class="fa fa-map fa-fw"></i> FOLIUM MAP</a>#}
            </li>
            <li>
{#                <a href="{% url 'cooperatives:site_pepiniere' %}"><i class="fa fa-map-o fa-fw"></i> SITE PEPINIERES</a>#}
            </li>
            <li style="margin-top: 100px">
                <a href="#"><i class="fa fa-gear fa-fw"></i> PARAMETRES<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'cooperatives:section' %}"><i class="fa fa-list fa-fw"></i> SECTIONS</a>
                    </li>
                    <li>
                        <a href="{% url 'cooperatives:sous_sections' %}"><i class="fa fa-list-ol fa-fw"></i> SOUS SECTIONS</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a class="btn btn-outline-danger" style="margin-top: 20px; color: red" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
            </li>
        </ul>
    </div>
</div>