{% extends 'base.html' %}
{% block extra_css %}
<style>
    @page {
        size: letter landscape;
        margin: 2cm;
    }
</style>
{% endblock extra_css %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}
    Parcelles |
{% endblock %}
{% block content %}
    <div id="wrapper">    
        <div id="page-wrapper">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <!-- /.panel-heading -->
                            <div id="header_content">                                
                                <h1 style="text-align: center;font-weight: bold; font-size: 22px; text-decoration: underline;">LISTE DES PARCELLES  - {{ cooperative.sigle }}</h1>
                            </div>                            
                            <div class="panel-body" style="font-size: 12px">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th style="width: 4% ;">ID</th>
                                                <th style="margin-left: -40px;">COOPERATIVE</th>
                                                <th style="margin-left: -40px;">SECTION</th>
                                                <th style="margin-left: -110px;">CODE</th>
                                                <th style="margin-left: -110px;">PRODUCTEUR</th>
                                                <th>CERTIFICATION</th>
                                                <th>CULTURE</th>
                                                <th>SUPERFICIE (Ha)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for parcelle in parcelles %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ parcelle.producteur.cooperative }}</td>
                                                    <td class="text-center" style="margin-left: 15px;">{{ parcelle.producteur.section }}</td>
                                                    <td style="margin-left: -30px;">{{ parcelle.code }}</td>
                                                    <td style="margin-left: -50px;">{{ parcelle.producteur }}</td>
                                                    <td style="margin-left: 50px;">{{ parcelle.certification|upper }}</td>
                                                    <td style="margin-left: 40px;">{{ parcelle.culture|upper }}</td>
                                                    <td style="margin-left: 45px;">{{ parcelle.superficie }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>                        
                                    </table>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->
            </div>            
        </div>
    </div>
{% endblock %}