{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}
    Plantings {{ parcelle.producteur.code }} |
{% endblock %}
{% block content %}
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% if user.is_authenticated %}
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'cooperatives:dashboard' %}">{{ cooperative.sigle }} / {{ cooperative.get_projet_values }}</a>
        </div>
    {% endif %}

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-right navbar-top-links">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ user.username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
    <!-- /.navbar-top-links -->
    {% include 'cooperatives/coop_sidebar.html' %}
</nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          <i class="glyphicon glyphicon-tree-deciduous"></i> Ajouter Planting
                        </h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% include '_partials/messages_display.html' %}

                        <!-- / planting Form -->
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="modal-title" id="exampleModalLabel" style="font-weight:bold">AJOUTER PLANTING</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Date</label>
                                                                <input class="form-control" type="date" name="date" placeholder="date">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Campagne</label>
                                                                <select class="form-control" name="campagne">
                                                                    {% for campagne in campagnes %}
                                                                        <option value="{{ campagne.id }}">{{ campagne.titre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Projet</label>
                                                        <select class="form-control" name="campagne">
                                                            {% for projet in projets %}
                                                                <option value="{{ projet.id }}">{{ projet.titre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="mesParcelles">Parcelle :</label>
                                                        <input type="text" list="parcelles" placeholder="Rechercher parcelle..." id="mesParcelles" class="form-control" style="width: 100%">
                    {#                                        <datalist id="elements">#}
                    {#                                          <select>#}
                    {#                                            <option value="sans label ni contenu"></option>#}
                    {#                                            <option value="sans label avec contenu texte">le texte</option>#}
                    {#                                            <option value="avec label" label="le label"></option>#}
                    {#                                            <option value="avec label et texte" label="le label">le texte</option>#}
                    {#                                          </select>#}
                    {#                                        </datalist>#}
                                                            <datalist id="parcelles">
                                                                {% for parcelle in parcelles %}
                                                                    <option value="{{ parcelle.code }} - {{ parcelle.producteur.nom }} {{ parcelle.producteur.prenoms }}"></option>
                                                                {% endfor %}
                                                            </datalist>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Nombre Plants Existants</label>
                                                                <input class="form-control" type="number" name="total_plant_recus" placeholder="Qte Total Plants Récus">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Quantité Total de Plants Récus</label>
                                                                <input class="form-control" type="number" name="total_plant_recus" placeholder="Qte Total Plants Récus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<!--                                            <div class="row">-->
<!--                                                <div class="col-lg-12">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Details</label>-->
<!--                                                        <textarea class="form-control" name="details" id="detail" cols="30" rows="3"></textarea>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <br />
                                            <h5>DETAILS ESPECES PLANTES</h5>
                                            <hr />
                                            <div class="details_div">
                                                <div class="row details_div_row first_details">
                                                    <div class="col-sm-7">
                                                        <div class="form-group">
                                                            <label>Espece</label>
                                                            <select class="form-control espece_detail" name="espece[]">
                                                                {% for espece in especes %}
                                                                    <option value="{{ espece.id }}">{{ espece.libelle }} - {{ espece.accronyme }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label>Nombre Planté</label>
                                                            <input class="form-control qte_detail" type="number" name="nb_plant_recu[]" placeholder="Nbre Planté/Espece">
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <div class="row col-lg-12">
                                                        <div class="col-lg-6">
                                                           <button class="btn btn-success btn-block add_details">AJOUTER ESPECE</button>
                                                        </div>
                                                        <div class="col-lg-6">
                                                           <button type="submit" class="btn btn-danger btn-block remove_details">SUPPRIMER ESPECE</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <input type="submit" name="btnValider" value="Valider" id="btnValider" class="btn btn-success btn-block" style="font-size:1.7vmin;" />
                                </div>
                            </div>
                            </form>
                        <!-- /.planting Form -->

                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

{#            <div class="modal fade"  data-keyboard="false" data-backdrop="static" id="ParcelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                <div class="modal-dialog modal-lg" role="document">#}
{#                        <form method="post" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                        <div class="panel panel-primary">#}
{#                            <div class="panel-heading">#}
{#                                <h4 class="modal-title" id="exampleModalLabel" style="font-weight:bold">AJOUTER UN SUIVI</h4>#}
{#                                <button ID="btnAnnuler" type="button" data-dismiss="modal" class="btn btn-danger pull-right" style="font-size:1.8vmin;margin-top: -30px">#}
{#                                    <i class="fa fa-close"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="panel-body">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-10 col-sm-offset-1">#}
{#                                    <div class="form-group">#}
{#                                        <br />#}
{#                                        <h5>INFOS RECEPTION</h5>#}
{#                                        <label for="mesParcelles">Parcelle :</label>#}
{#                                        <input type="text" list="parcelles" placeholder="Rechercher parcelle..." id="mesParcelles" class="form-control" style="width: 100%">#}
{#                                        <datalist id="elements">#}
{#                                          <select>#}
{#                                            <option value="sans label ni contenu"></option>#}
{#                                            <option value="sans label avec contenu texte">le texte</option>#}
{#                                            <option value="avec label" label="le label"></option>#}
{#                                            <option value="avec label et texte" label="le label">le texte</option>#}
{#                                          </select>#}
{#                                        </datalist>#}
{#                                            <datalist id="parcelle_list">#}
{#                                                {% for parcelle in parcelles %}#}
{#                                                    <option value="{{ parcelle.code }} - {{ parcelle.producteur.nom }} {{ parcelle.producteur.prenoms }}"></option>#}
{#                                                {% endfor %}#}
{#                                            </datalist>#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                        <div class="col-sm-6">#}
{#                                            <div class="form-group">#}
{#                                                <label>Quantité Total de Plants Récus</label>#}
{#                                                <input class="form-control" type="number" name="total_plant_recus" placeholder="Qte Total Plants Récus">#}
{#                                                {% render_field plantingForm.nb_plant class="form-control" placeholder="Nombre de Plant" %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-sm-6">#}
{#                                            <div class="form-group">#}
{#                                                <label>Date</label>#}
{#                                                <input class="form-control" type="date" name="date" placeholder="date">#}
{#                                                {% render_field plantingForm.date type="date" class="form-control", placeholder="Date" %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <br />#}
{#                                    <h5>DETAILS ESPECES RECUES</h5>#}
{#                                    <hr />#}
{#                                    <div class="details_div">#}
{#                                        <div class="row details_div_row first_details">#}
{#                                            <div class="col-sm-8">#}
{#                                                <div class="form-group">#}
{#                                                    <label>Nombre Total de Plants Récus</label>#}
{#                                                    <select class="form-control espece_detail" name="espece[]">#}
{#                                                        {% for espece in especes_plants %}#}
{#                                                            <option value="{{ espece.id }}">{{ espece.libelle }} - {{ espece.accronyme }}</option>#}
{#                                                        {% endfor %}#}
{#                                                    </select>#}
    {#                                                {% render_field plantingForm.nb_plant class="form-control" placeholder="Nombre de Plant" %}#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-sm-4">#}
{#                                                <div class="form-group">#}
{#                                                    <label>Nombre Plant Espece</label>#}
{#                                                    <input class="form-control qte_detail" type="number" name="nb_plant_recu[]" placeholder="Qte Total Plants Récus">#}
    {#                                                {% render_field plantingForm.date type="date" class="form-control", placeholder="Date" %}#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <br/>#}
{#                                            <div class="row">#}
{#                                                <div class="col-lg-6">#}
{#                                                   <button class="btn btn-success btn-block add_details">AJOUTER ESPECE</button>#}
{#                                                </div>#}
{#                                                <div class="col-lg-6">#}
{#                                                   <button type="submit" class="btn btn-danger btn-block remove_details">SUPPRIMER ESPECE</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                            <div class="panel-footer">#}
{#                                <input type="submit" name="btnValider" value="Valider" id="btnValider" class="btn btn-success btn-block" style="font-size:1.7vmin;" />#}
{#                            </div>#}
{#                        </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
<script>
$(".add_details").click(function(){
    var details_row=$(".first_details").clone();
    details_row.removeClass("first_details");
    details_row.find(".espece_detail").val("");
    details_row.find(".qte_details").val("");
    $(".details_div").append(details_row);
});
$(".remove_details").click(function(){
    if($(".details_div").find(".details_div_row").length>1){
        $(".details_div").children().last().remove();
    }
});
</script>
{% endblock %}