<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_messages %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Parheto10">
        <title>Agro - Map | Traçability</title>
        {% include '_partials/css.html' %}
        {% include '_partials/js.html' %}
        <script>
            $(document).ready(function(){
                $("#DeleteParcelleModal").modal('show');
            });
        </script>
    </head>
    <body>
        <div class="modal fade"  data-keyboard="false" data-backdrop="static" id="DeleteParcelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <i class="fa fa-trash fa-fw"></i>  SUPPRESSION SOUS SECTION {{ item.libelle }} ({{ item.contacts }})
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <p style="font-size: 22px; font-weight: bold">la sous Section {{ item.libelle }}  sera supprimée définitivement,<br /> ainsi que les Producteurs Associés <br /> voulez-vous continuer ?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="btnValider" value="Confirmer" id="btnValider" class="btn btn-primary" style="font-size:1.7vmin;" />
                                  <a href="{% url 'cooperatives:sous_sections' %}" class="btn btn-danger" style="color: white">
                                       Annuler
                                  </a>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </body>
</html>