{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Accueil |
{% endblock %}
{% block content %}
    <div id="wrapper">
            <!-- Navigation -->
            {% include 'Coop/admin_coop_nav.html' %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Tableau de Bord - {{ cooperative.sigle }}</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-users fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            {% if coop_nb_producteurs %}
                                                <div class="huge">{{ coop_nb_producteurs }}</div>
                                                <div>Producteurs</div>
                                            {% else %}
                                                <div class="huge">{{ coop_nb_producteurs }}</div>
                                                <div>Producteurs</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="glyphicon glyphicon-grain fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            {% if coop_nb_parcelles %}
                                                <div class="huge">{{ coop_nb_parcelles }}</div>
                                                <div>Plantations</div>
                                            {% else %}
                                                <div class="huge">0</div>
                                                <div>Plantations</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="glyphicon glyphicon-map-marker fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            {% if coop_superficie %}
                                                <div class="huge">{{ coop_superficie | floatformat:2 }}</div>
                                                <div>Superficie Totale (Ha)</div>
                                            {% else %}
                                                <div class="huge">0</div>
                                                <div>Superf. Totale (Ha)</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-list-alt fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            {% if nb_formations %}
                                                <div class="huge">{{ nb_formations }}</div>
                                                <div>Formations</div>
                                            {% else %}
                                                <div class="huge">0</div>
                                                <div>Formations</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="fa fa-database fa-4x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <div class="huge">0</div>
                                            <div>Prod. toutes campagnes</div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="fa fa-database fa-4x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <div class="huge">0</div>
                                            <div>Grande Campagne</div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="fa fa-database fa-4x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <div class="huge">0</div>
                                            <div>Petite Campagne</div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="glyphicon glyphicon-tree-deciduous fa-4x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            {% if coop_plants_total %}
                                                <div class="huge">{{ coop_plants_total }}</div>
                                            {% else %}
                                                <div class="huge">0</div>
                                            {% endif %}
                                            <div>Nombre de plants</div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>

{% endblock %}

