{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Géolocalisation</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
{#<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>#}
{#<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />#}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
{#<link rel="stylesheet" href="https://map.michelstuyts.be/icons/">#}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
	marker {
        background-image: url('http://127.0.0.1:8000/static/marker-icons/mapbox-marker-icon-20px-green.png');
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>
</head>
<body>

<div id="inputs">
    {% for section in sections %}
       <input class="text-center text-capitalize text-success btn btn-success" type="button" id="{{ section.libelle }}" value="{{ section.libelle }}">
    {% endfor %}
</div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<!--<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>-->
<!--<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">-->

<!-- Promise polyfill script is required -->
<!-- to use Mapbox GL Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<style>
{#.marker {#}
{#    display: block;#}
{#    border: none;#}
{#    border-radius: 50%;#}
{#    cursor: pointer;#}
{#    padding: 0;#}
{#    }#}
</style>
<div id="map"></div>
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = 'pk.eyJ1IjoicGFyaGV0bzEwIiwiYSI6ImNrazVjbGs2ZzBwMm0yd3FuN2J0Z3F6emsifQ.vJY5MZ83bP4spWhv9gDUsw';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/parheto10/ckjvnluw700pd17lmspxdeqk9',
        center: [-5.547545, 7.5455112],
        zoom: 6.5,
        });
        map.addControl(
            new mapboxgl.NavigationControl({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                defaultLanguage: 'fr'
            }),
        );

        map.on('load', function () {
        map.addSource('places', {
        'type': 'geojson',
        'data': {
        'type': 'FeatureCollection',
        'features': [{% for point in parcelles %}
                {
                'type': 'Feature',
                    'properties': {
                        'image': 'https://farm9.staticflickr.com/8571/15844010757_63b093d527_n.jpg',
                        'description':
                        {#`#}
                        {#  <table class="table table-striped table-bordered">#}
                        {#    <thead style="align-items: center">#}
                        {#        <tr>#}
                        {#          <th scope="col" class="center">ID</th>#}
                        {#          <th scope="col" class="center">INFORMATIONS</th>#}
                        {#        </tr>#}
                        {#    </thead>#}
                        {#    <tbody style="align-items: center">#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>LOCALITE :</b></th>#}
                        {#            <td class="text-uppercase"><strong>{{point.producteur.localite}}</strong></td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>COOPERATIVE :</b></th>#}
                        {#            <td class="text-uppercase"><strong>{{point.producteur.section.cooperative.sigle}}</strong></td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>PRODUCTEUR :</b></th>#}
                        {#            <td class="text-uppercase"><strong>{{point.producteur.code}} - {{point.producteur.nom}} {{point.producteur.prenoms}}</strong></td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>CODE PARCELLE :</b></th>#}
                        {#            <td class="text-uppercase"><strong>{{point.code}}</strong></td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>COORDONNEES :</b></th>#}
                        {#            <td class="text-uppercase">{{point.latitude}}, {{point.longitude}}</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>SECTION / SOUS SECTION:</b></th>#}
                        {#            <td>{{point.producteur.section.libelle}}/ {{point.sous_section.libelle}}</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>MODE D'ACQUISITION :</b></th>#}
                        {#            <td class="text-uppercase">{{point.acquisition}}</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>CERTIFICATION : </b></th>#}
                        {#            <td class="text-uppercase">{{point.certification}}</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>CULTURE :</b></th>#}
                        {#            <td class="text-uppercase">{{point.culture}}</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>SUPERFICIE</b></th>#}
                        {#            <td class="text-uppercase">{{point.superficie}} (Ha)</td>#}
                        {#        </tr>#}
                        {#        <tr>#}
                        {#            <th scope="col"><b>Especes</b></th>#}
                        {#            <td class="text-uppercase text-center">#}
                        {#                <a class="btn btn-info" href="#" role="button">Afficher</a>#}
                        {#                <a class="btn btn-success" href="#" role="button"><i class="glyphicon glyphicon-tree-deciduous"></i></a>#}
                        {#            </td>#}
                        {#        </tr>#}
                        {#    </tbody>#}
                        {#  </table>#}
                        {#`#}
                       '<strong>PRODUCTEUR : {{ point.producteur }}</strong><p><b>COOPERATIVE</b> : {{ point.producteur.cooperative }}</p><p><b>CULTURE</b> : {{ point.culture}}</p><p><b>CERTIFICATION</b> : {{ point.certification }}</p><p><b>SUPERFICIE</b> : {{ point.superficie|floatformat:2 }}(Ha)</p>'
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [{{ point.coordonnees }}]
                    }
                },
                {% endfor %}
            ]
        }
        });
        // Add a layer showing the places.
        map.addLayer({
            'id': 'places',
            'type': 'circle',
            'source': 'places',
            'paint': {
            'circle-color': '#13d17f',
            'circle-radius': 6,
            'circle-stroke-width': 2,
            'circle-stroke-color': '#ffffff'
            }
        });

        // Create a popup, but don't add it to the map yet.
        var popup = new mapboxgl.Popup({
            closeButton: true,
            closeOnClick: true,
        });

        map.on('mouseenter', 'places', function (e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });

        map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
        popup.remove();
        });
    });
</script>

{% include '_partials/js.html' %}
</body>
</html>